@model SwapYE.ViewModels.ItemCommNotif
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<section style="margin-top: 8rem;">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="@Url.Content(@Model.item.Image_1)" alt="somthing1" width="100%" height="300" />
                            </div>

                            <div class="swiper-slide">
                                <img src="@Url.Content(@Model.item.Image_2)" alt="somthing2" width="100%" height="300" />
                            </div>

                            <div class="swiper-slide">
                                <img src="@Url.Content(@Model.item.Image_3)" alt="somthing3" width="100%" height="300" />
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info mb-3">
                        <h3>@Model.item.ItemName</h3>
                        <ul>
                            <li><strong>الصنف</strong> : @Model.item.ItemType.TypeNme</li>
                            <li><strong>نوع المقايضه</strong> :@Model.item.Transaction_type</li>
                            <li><strong>السعر</strong> : @Model.item.Price</li>
                            <li><strong>المدينة</strong> : @Model.item.City.CityName</li>
                            <li><strong>الحالة</strong> : @Model.item.Item_State</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

    <section class="blog-wrapper sect-pt4 " id="blog">
        <div class="box-comments  ">
            <div class="title-box-2">
                <h4 class="title-comments title-left ">التعليقات (@Model.Comments.Count())</h4>
            </div>
            <ul class="list-comments">
                @foreach (var comment in Model.Comments)
                {
                    <li>
                        <p style="margin-right: 15px; font-size: X-LARGE; " class="text-color-blue">
                            @comment.User.FirstName @comment.User.LastName
                        </p>
                        <div class="comment-details p-3" >
                            <img  src="@Url.Content(@comment.Image_1)" alt="Comment Img" width="100%" height="150px" />
                        </div>
                        <div class="comment-details p-3" style="font-size: X-LARGE;">
                            <p>
                                @comment.Content
                            </p>
                            @if (!(Session["UserID"] == null))
                            {
                                if ((int)Session["UserID"] == comment.SenderId)
                                {
                                    <a href="@Url.Action("Delete","Comments",new {id = @comment.CommentId })" class="bi bi-trash3-fill text-danger btn"></a>
                                }

                                if ((int)Session["UserID"] == @Model.item.UserID)
                                {
                                    <a href="@Url.Action("Messages","Chats",new {reciverId = @comment.SenderId})" class="bi bi-chat-right-text eye-btn btn"></a>
                                    @* @Html.ActionLink(" ", "Messages", "Chats", new { chat_id = @comment.SenderId, chatwith = "" }, new { @class = "bi bi-chat-right-text eye-btn btn" })*@
                                }
                            }
                            @if (Session["UserID"] != null)
                            {
                                <div class="btn-group">
                                    @Html.ActionLink(" ", "Report_Comments", "Reports", new { id = @comment.CommentId }, new { @class = "btn text-danger bi bi-flag-fill" })
                                </div>
                            }
                            else
                            {
                                <a class="text-danger btn" data-bs-toggle="modal" data-bs-target="#Login">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                         height="16" fill="currentColor"
                                         class="bi bi-flag-fill" viewBox="0 0 16 16">
                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                    </svg>
                                </a>
                            }
                        </div>
                    </li>
                }


            </ul>
        </div>

        @using (Html.BeginForm("Create", "Comments", new { id = @Model.item.ItemID }, FormMethod.Post, new { enctype = "multipart/form-data" ,id= "Comments" }))
        {
            <div class="form-comments">
                <div class="title-box-2">
                    <h3 class="title-left">
                        اضف تعليقك
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="file" class="form-control" id="image1" name="image1" required>
                        @Html.TextArea("Content", new { @class = "form-control input-mf", cols = "45", rows = "8", id = "Content" })
                    </div>
                    @if (Session["UserID"] != null)
                    {
                        <div class="col-md-12">
                            <button type="submit" value="Submit" class="button button-a button-big button-rouded">ارسل</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <button data-bs-toggle="modal" data-bs-target="#Login" type="button"  class="button button-a button-big button-rouded">ارسل</button>
                        </div>
                    }

                </div>
            </div>
        }
    </section>
</section>

<script>
    $(document).ready(function () {
        $("#Comments").submit(function (e) {

            var val = $('#Content').val();
            if (val == "") {
                e.preventDefault()
                alert("الرجاء اضافة نص للتعليق ");
            }
            else {
                this.submit();
            }
        });
    });
</script>
