@model SwapYE.ViewModels.UserItem
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<section>
    <section style="margin-top: 9em;">
        <div class="container">
            <div class="row">

                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <div class="bi bi-person-circle text-dark" style=" font-size: 5rem;"></div>
                                </div>
                                <h5 class="user-name text-color-blue">@Model.user.UserName</h5>
                                <h6>@Model.user.FirstName  @Model.user.LastName</h6>
                                <h6 class="user-email">@Model.user.Email</h6>
                            </div>
                            <div class="About justify-content-lg-start">
                                <h6>رقم الهاتف : @Model.user.Phone</h6>
                                <h6>تاريخ الميلاد : @Model.user.Dob</h6>
                                <h6>المدينة : @Model.user.City</h6>
                                <h6>الشارع :  @Model.user.street </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card shadow-lg h-100">
                        @using (Html.BeginForm("Edit", "User", new { id = Model.user.UserID }, FormMethod.Post, new { id = "formUpdateUser" }))
                        {
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 text-color-blue form-line1"> معلومات الحساب</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">

                                            @Html.Label("اسم المستخدم", new { @class = "form-label mb-1" })
                                            @Html.TextBox("UserName", "", new { @class = "form-control rounded", @ariadescribedby = "inputGroupPrepend",id= "UserName2" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            @Html.Label("كلمة المرور", new { @class = "form-label mb-1" })
                                            @Html.Password("Passwords", "", new { @class = "form-control rounded", id = "Passwords2" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            @Html.Label("الايميل", new { @class = "form-label mb-1" })
                                            @Html.TextBox("Email", "", new { @class = "form-control rounded", id = "Email2" })
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="text-color-blue form-line2 " style="margin-top: 8px;">
                                            المعلومات
                                            الشخصية
                                        </h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            @Html.Label("الاسم الاول", new { @class = "form-label mb-1" })
                                            @Html.TextBox("FirstName", "", new { @class = "form-control rounded", id = "FirstName" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            @Html.Label("الاسم الاخير", new { @class = "form-label mb-1" })
                                            @Html.TextBox("LastName", "", new { @class = "form-control rounded", id = "LastName" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            @Html.Label("رقم الجوال", new { @class = "form-label mb-1" })
                                            @Html.TextBox("Phone", "", new { @class = "form-control rounded", id = "Phone" })
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            @Html.Label("تاريخ الميلاد", new { @class = "form-label mb-1" })
                                            @Html.TextBox("Dob", "{0:yyyy-MM-dd}", new { @class = "form-control rounded", type = "date", id = "Dob" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            @Html.Label("الجنس", new { @class = "form-label mb-1" })
                                            @Html.DropDownList("Gender",
                                            new List<SelectListItem> {
                                            new SelectListItem{Value = "0" , Text = "اختر..",Disabled = true  },
                                             new SelectListItem { Value = "ذكر" , Text = "ذكر" },
                                             new SelectListItem { Value = "أنثى" , Text = "أنثى" }
                                            ,}, new { @class = "form-select rounded", id = "Gender" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mt-3 mb-2 text-color-blue form-line3">العنوان</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        @Html.Label("المدينة", new { @class = "form-label mb-1" })

                                        @Html.DropDownList("City",
                                            new List<SelectListItem> {
                                            new SelectListItem{Value = "0" , Text = "اختر..",Disabled = true },
                                            new SelectListItem { Value = "المكلا" , Text = "المكلا" },
                                            new SelectListItem { Value = "عدن" , Text = "عدن" },
                                            new SelectListItem { Value = "حضرموت الوادي" , Text = "حضرموت الوادي" },
                                            new SelectListItem { Value = "الشحر" , Text = "الشحر" },
                                            new SelectListItem { Value = "مأرب" , Text = "مأرب" },
                                            new SelectListItem { Value = "شبوة" , Text = "شبوة" },
                                            new SelectListItem { Value = "صنعاء" , Text = "صنعاء" },
                                             new SelectListItem { Value = "اب" , Text = "اب" },
                                            }, new { @class = "form-select rounded", id = "City" })
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        @Html.Label("الشارع", new { @class = "form-label mb-1" })
                                        @Html.TextBox("street", "", new { @class = "form-control rounded", id = "street" })
                                    </div>
                                </div>

                                <div class="row" id="buttons">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                        <div class="text-right">
                                            <button type="reset" id="submit" name="submit"
                                                    class="btn btn-secondary">
                                                الغاء
                                            </button>
                                            <button type="submit" id="submit" name="submit"
                                                    class="btn btn-outline full-btn">
                                                تحديث
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-wrapper container rounded" id="blog" style="margin-top: 60px;">
        <div class="box-comments rounded shadow-lg">
            <div class="title-box-2">
                <h4 class="title-comments title-left text-color-blue">
                    منتجاتي
                    <a class="btn" href="@Url.Action("Create", "Items")" style="color: var(--blue);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </a>
                </h4>
            </div>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
                @if (Model.items.Count() == 0)
                {<h5 class="text-color-blue">لا يوجد لديك منتجات حاليا</h5>}
                @foreach (var Item in Model.items)
                {
                    <div class="col">
                        <div class="card card-profile rounded shadow-lg">
                            <div class="card-main">
                                <img class="rounded" src="@Url.Content(@Item.Image_1)" alt="somthing" width="100%" height="225" />

                                <div class="card-body">
                                    <h3 class="card-text text-color-blue "> @Item.ItemName</h3>
                                    <h5 class="head-coler"> @Item.ItemType.TypeNme</h5>
                                    <p class="card-text">
                                        @Item.Description_1
                                    </p>
                                    <div class="d-flex mb-3 justify-content-between align-items-center">
                                        <span class="card-text">
                                            المدينة :   @Item.City.CityName <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>
                                        </span>
                                        <span class="card-text"> @Item.Transaction_type </span>
                                        <span class="card-text"></span>
                                    </div>


                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            @Html.ActionLink(" ", "Details", "Items", new { id = @Item.ItemID }, new { @class = "btn eye-btn bi bi-eye-fill" })
                                        </div>
                                        <div class="btn-group">
                                            @Html.ActionLink(" ", "Edit", "Items", new { id = @Item.ItemID }, new { @class = "btn eye-btn bi bi-pencil-square" })
                                        </div>
                                        <div class="btn-group">
                                            @Html.ActionLink(" ", "Delete", "Items", new { id = @Item.ItemID }, new { @class = "text-danger btn bi bi-trash3-fill" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
</section>

<script>

    $(document).ready(function () {
        $("#formUpdateUser").submit(function (r) {

        // Get the values of the input fields
        var userName = $("#UserName2").val();
        var password = $("#Passwords2").val();
        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var email = $("#Email2").val();
        var street = $("#street").val();
        var City = $("#City").val();
        var Gender = $("#Gender").val();
        var Dob = $("#Dob").val();
        var Phone = $("#Phone").val();

        //// Define the regex pattern for the username and password
        //var usernameRegex = /^[a-zA-Z0-9_]{3,16}$/;
        //var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;

        // Check if the fields are empty
            if (userName.trim() == "" || password.trim() == "" || firstName.trim() == "" || lastName.trim() == "" || email.trim() == "" || street.trim() == "" || City.trim() == "" || Dob.trim() == "" || Gender.trim() == "" || Phone.trim() == "") {
                r.preventDefault();
                alert("الرجاء إدخال جميع الحقول.");
            }


            //// Check if the username and password match the regex pattern
            //if (!usernameRegex.test(userName)) {
            //    alert("الرجاء إدخال اسم مستخدم صحيح.");
            //    return false;
            //}
            //if (!passwordRegex.test(password)) {
            //    alert("الرجاء إدخال كلمة مرور صحيحة.");
            //    return false;
            //}

    });
});

</script>


